*,
*:is(::after, ::before) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(img) {
  max-width: 100%;
  display: block;
}

:where(a) {
  text-decoration: none;
  color: inherit;
}

:where(ul) {
  list-style: none;
}

:where(button) {
  cursor: pointer;
}

:where(input, textarea, select, button) {
  font: inherit;
}
