:where(.button) {
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

.button:is(.clear, .secondary, .primary, .inverted-primary, .inverted-secondary) {
  cursor: pointer;
  color: inherit;
}

.clear {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}
