.link {
  color: var(--primary-color);
}

.link.inverted-primary {
  color: var(--inverted-primary-color);
}

.link.inverted-secondary {
  color: var(--inverted-secondary-color);
}

.link.secondary {
  color: var(--secondary-color);
}

.link.primary {
  color: var(--primary-color);
}
